
.custom_check:hover input ~ .checkmark {
    background-color: #fff; 
  }

  .custom_check:hover input:checked ~ .checkmark {
    background-color: teal;
    border: 1px solid teal;
  }

  .custom_check {
    display: inline-block; 
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #565656;
  }
  .custom_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom_check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color:#fff;
    border: 1px solid #e4e4e4;
    border-radius: 0px;
  }

  .custom_check input:checked ~ .checkmark {
    background-color: teal; border: 1px solid teal;
  }

  .custom_check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .custom_check input:checked + .checkmark:after {
    display: block;
  }

 
    .custom_check.error .checkmark { border: 1px solid #d41451; }
    .custom_check.error input:checked ~ .checkmark {
        background-color: #fff; border: 1px solid #d41451;
    }
    .custom_check.error .checkmark:after {  border: solid #d41451; border-width: 0 3px 3px 0; }
  

  .custom_check.btn-style {padding-left: 0px;
    
    
  }
  .custom_check.btn-style .checkmark:after {  display: none; border: 0px; }
  .custom_check.btn-style input:checked ~ .checkmark {
    background-color: teal; border: 1px teal; color: #fff;
}
.custom_check.btn-style .checkmark { border: 1px solid #e4e4e4; width: auto; height: auto; padding: 3px 10px; color: #565656; position: relative; white-space: nowrap; }


