<div class="filter_box mx-3 py-2 px-3 mt-10">
    <h3 class="f_size_18 color-black mt-2 mb-3">Five Minutes History</h3>
    <form #dates="ngForm" (ngSubmit)="onSubmit(dates.value)" class="form_box py-0 call_log_form">
        <div class="row mx-0 mb-1">
            <div class="col-sm-2 pl-0">Date</div>
            <div class="col-sm-4">
                <input type="date" id="padded" name='fromDate' class="form_text" placeholder="From Date"
                    [(ngModel)]="dateNew" />

            </div>
            
        </div>
        <div class="row mx-0 mb-1 mt-4">
            <div class="col-sm-12 pl-0">
                <button type="submit" id="padded" class="btn btn-red">Run Report</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="loadTable">
    <div class="hr mx-3"></div>
    <form class="mx-3">
        <div class="row mx-0 border-bottom-grey2 pb-2">
                <div class="col-sm-4 pl-0">
                    <strong>{{historyList.length}}</strong> Records
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4 text-right pr-0">
                    <div class="input-group w-200px green d-inline-flex mr-2">
                        <!-- <mat-form-field>
                                    <mat-label>Filter</mat-label>
                                    <input type="text"  class="green-search" placeholder="keyword" #input>
                                </mat-form-field> -->
                    </div>
                    <button class="btn-icon " type="submit" (click)="onClickdwnldcsv()" data-toggle="popover"
                        data-toggle="tooltip" title="Download CSV"><i class="fas fa-file-pdf"></i></button>
                </div>
        </div>
        <div class="border-grey py-3 my-3">
            <table class="table call-attempt-table mt-2">
                <thead>
                    <tr class="active">
                        <th class="heading pl-3">Time</th>
                        <th class="heading">FRC <br>
                            <p class="min compressed">(Calls Per Second)</p>
                        </th>
                        <th class="heading">FRC</th>
                        <th class="heading">DE-CNP <br>
                            <p class="min compressed">(Calls Per Second)</p>
                        </th>
                        <th class="heading">DE-CNP</th>
                        <th class="heading">FR-CNP <br>
                            <p class="min compressed">(Calls Per Second)</p>
                        </th>
                        <th class="heading">FR-CNP</th>
                        <th class="heading">NL-CNP <br>
                            <p class="min compressed">(Calls Per Second)</p>
                        </th>
                        <th class="heading">NL-CNP</th>
                        <th class="heading">Total CNP <br>
                            <p class="min compressed">(Calls Per Second)</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let object of historyList">
                        <td class="content pl-3" [ngClass]="{ 'grayColored': object.maxTotalHighlight == 'true' }">{{object.hour}}</td>

                        <td class="content" [ngClass]="{'yellowColored': object.frchighlight == 'true',
                        'grayColored': object.frchighlight != 'true' && object.maxTotalHighlight == 'true', 
                        '': object.frchighlight != 'true' && object.maxTotalHighlight != 'true'}">{{object.strFRCCPS}}</td>

                        <td class="content" [ngClass]="{ 'grayColored': object.maxTotalHighlight == 'true' }">{{object.strFRC}}</td>

                        <td class="content" [ngClass]="{'yellowColored': object.cnphighlight == 'true',
                        'grayColored': object.cnphighlight != 'true' && object.maxTotalHighlight == 'true', 
                        '': object.cnphighlight != 'true' && object.maxTotalHighlight != 'true'}">{{object.strCNPCPS}}</td>

                        <td class="content" [ngClass]="{ 'grayColored': object.maxTotalHighlight == 'true' }">{{object.strCNP}}</td>

                        <td class="content" [ngClass]="{'yellowColored': object.cnp2Highlight == 'true',
                        'grayColored': object.cnp2Highlight != 'true' && object.maxTotalHighlight == 'true', 
                        '': object.cnp2Highlight != 'true' && object.maxTotalHighlight != 'true'}">{{object.strCNP2CPS}}</td>

                        <td class="content" [ngClass]="{ 'grayColored': object.maxTotalHighlight == 'true' }">{{object.cnp2}}</td>

                        <td class="content" [ngClass]="{'yellowColored': object.cnp3Highlight == 'true',
                        'grayColored': object.cnp3Highlight != 'true' && object.maxTotalHighlight == 'true', 
                        '': object.cnp3Highlight != 'true' && object.maxTotalHighlight != 'true'}">{{object.strCNP3CPS}}</td>

                        <td class="content" [ngClass]="{ 'grayColored': object.maxTotalHighlight == 'true' }">{{object.strCNP3}}</td>
                        
                        <td class="content" [ngClass]="{ 'yellowColored': object.maxTotalHighlight == 'true' }">{{object.strTotal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>