<breadcrumb #parent>  
  <ol class="breadcrumb">
    <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
      <div class="crumb my-0">
          <a href="javascript:void()">Sonus</a> / {{ route.displayName }}
      </div>
    </ng-template>
  </ol>
</breadcrumb>

<div class="filter_box mx-3 py-2 px-3">
    <h3 class="f_size_18 color-black mt-2 mb-3">Trunkgroup Watchlist Search</h3>
    <form class="form_box py-0 call_log_form" name="filter_form" [formGroup]="filter_form" (ngSubmit)="filter_form_search()">
        <div class="row mx-0 mb-1">
            <div class="col-sm-2 pl-0">Folder Names</div>
            <div class="col-sm-3 pr-0">
                <ng-multiselect-dropdown
                    [placeholder]="'Select Folder Name'"
                    [data]="type_list"
                    formControlName="service_type"
                    [settings]="filterTypeSettings"
                    (onSelect)="on_type_select($event)"
                    (onDeSelect)="on_type_deselect($event)"                        
                    >
                </ng-multiselect-dropdown>
            </div>
            
        </div>

        <div class="row mx-0 mb-1">
            <div class="col-sm-2 pl-0">Search type</div>
            <div class="col-sm-4 pr-0">
                <label class="custom_radio float-left mr-2 ln_ht_13 mt-1" *ngFor="let search_item of searchTypeList">{{ search_item['label'] }}
                    <input type="radio" checked="false" formControlName="search_type" value="{{search_item['value']}}" (change)="search_type_change($event)">
                    <span class="checkmark"></span>
                </label>
                <p class="small color-red" *ngIf="filter_form_controls.search_type.errors !== null && filter_form_controls.search_type.dirty">
                  <span class="mr-3" *ngIf="filter_form_controls.search_type.errors.required"> Search type is required </span>
                </p>  
            </div>            
        </div>

        <div class="row mx-0 mb-1">
            <div class="col-sm-2 pl-0">Time Range</div>
            <div class="col-sm-4">
                <input type="date" formControlName="time_range" class="form_text mr-3">

                <input type="date" formControlName="time_range_to" class="form_text" *ngIf="filter_form.value.search_type == 'Busiest Busy Hour'">

                <p class="small color-red" *ngIf="filter_form_controls.time_range.errors !== null && filter_form_controls.time_range.dirty">
                  <span class="mr-3" *ngIf="filter_form_controls.time_range.errors.required"> Time range is required </span>
                </p>
                <p class="small color-red" *ngIf="filter_form_controls.time_range_to.errors !== null && filter_form_controls.time_range_to.dirty">
                        <span class="mr-3" *ngIf="filter_form_controls.time_range_to.errors.required"> Date to is required </span></p>
            </div>
        </div>

        <div class="row mx-0 mb-1 mt-4">
            <div class="col-sm-12 pl-0">
                <button class="btn btn-red">Run Report</button>
            </div>
        </div>
    </form>    
</div>

<div class="hr mx-3"></div>

<form class="mx-3">
    <div class="row mx-0 border-bottom-grey2 pb-2 mb-2">
        <div class="col-sm-4 pt-2 pl-0">
            <strong>{{result.length}}</strong> Records
        </div>
        <div class="col-sm-4">
                <div class="row mx-0" *ngIf="filter_form.value.search_type == 'Daily Busy Hour'">
                    <div class="col-sm-3">
                        <button class="btn-icon mt-2 mr-2" (click)="prev_date()"><i class="fas fa-arrow-circle-left"></i></button>
                    </div>
                    <div class="col-sm-6 text-center pt-1">
                        <p class="my-0 small font-weight-bold ln_ht_13">{{ date_from }} </p>
                        <p class="my-0 small ln_ht_13">00:00 to 23:59 </p>
                    </div>
                    <div class="col-sm-3 text-right">
                        <button class="btn-icon mt-2 mr-2" (click)="next_date()"><i class="fas fa-arrow-circle-right"></i></button>
                    </div>
                </div>
    
                <div class="row mx-0" *ngIf="filter_form.value.search_type == 'Busiest Busy Hour'">
                  <div class="col-sm-2">
                      <button class="btn-icon mt-2 mr-2" (click)="prev_date()"><i class="fas fa-arrow-circle-left"></i></button>
                  </div>
                  <div class="col-sm-4 text-center pt-1">
                      <p class="my-0 small font-weight-bold ln_ht_13">{{ date_from }} </p>
                      <p class="my-0 small ln_ht_13">00:00 to 23:59 </p>
                  </div>
                  <div class="col-sm-4 text-center pt-1">
                    <p class="my-0 small font-weight-bold ln_ht_13">{{ date_to }} </p>
                    <p class="my-0 small ln_ht_13">00:00 to 23:59 </p>
                </div>
                  <div class="col-sm-2 text-right">
                      <button class="btn-icon mt-2 mr-2" (click)="next_date()"><i class="fas fa-arrow-circle-right"></i></button>
                  </div>
              </div>
          </div>
          <div class="col-sm-4 text-right pr-0">
                  <div class="input-group w-200px green d-inline-flex mr-2">
                    <input type="text" class="form-control" placeholder="Keyword" [(ngModel)]="search_text" [ngModelOptions]="{standalone: true}">
                    <button class="btn btn-outline-secondary" type="button" (click)="applyFilter($event)"><i class="fas fa-search"></i></button>
                  </div>
                  
                  <button class="btn-icon mt-2" (click)="downloadCsv()" data-toggle="popover" data-toggle="tooltip"  title="Download CSV"><i class="fas fa-file-pdf"></i></button>
          </div>
    </div>

    <div class="border-grey py-3 mb-3">
      <div class="table-sticky">
          <table mat-table [dataSource]="dataSource" matSort class="mat-table bordered">
      
            <!-- Actions Column -->
            <ng-container matColumnDef="actions" sticky="true">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let row">
                <button class="btn-icon mt-2 mr-2" data-toggle="popover" data-toggle="tooltip"  title="History" (click)="open_new_window(row.tgId, row.tgName, row.tgDescr, row.gateway, row.tgservicetype, filter_form.value.search_type)">
                      <i class="fas fa-chart-bar"></i>
                </button>
                <button class="btn-icon mt-2 mr-2" (click)="removeFromWatchlist(row.tgId,row.tgName)" data-toggle="popover" data-toggle="tooltip"  title="Remove trunkgroup from Watchlist" *ngIf="userPermission">
                      <i class="fas fa-eye-slash"></i>
                </button>
                <button class="btn-icon mt-2 mr-2" data-toggle="popover" data-toggle="tooltip"  title="Send email on utilisation alert" *ngIf="userPermission && row.sendEmail">
                      <i class="fas fa-envelope"></i>
                </button>
              </td>
            </ng-container>
        
            <!-- Trunkgroup Column -->
            <ng-container matColumnDef="tgName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Trunkroup Name </th>
              <td mat-cell *matCellDef="let row"> {{row.tgName}}</td>
            </ng-container>
        
            <!-- gateway Column -->
            <ng-container matColumnDef="gateway">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Gateway </th>
              <td mat-cell *matCellDef="let row"> {{row.gateway}} </td>
            </ng-container>     
              
          
              <!-- Trunkgroup Column -->
              <ng-container matColumnDef="tgDescr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Trunkgroup Description </th>
                <td mat-cell *matCellDef="let row"> {{row.tgDescr}} </td>
              </ng-container>
        
              <!-- service type  Column -->
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let row"> {{row.category}} </td>
              </ng-container>
          
              <!-- Circuits available Column -->
              <ng-container matColumnDef="circuitsAvailable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Circuits Available (Total)</th>
                <td mat-cell *matCellDef="let row" class="text-center"> {{row.circuitsAvailable}} <span *ngIf="row.totalCircuits != null">
                        ({{row.totalCircuits}})
                </span> </td>
              </ng-container>

              <!-- Total Minutes (ERL) available Column -->
              <ng-container matColumnDef="totalMinutes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Minutes (ERL) </th>
                <td mat-cell *matCellDef="let row" class="text-center"> {{row.totalMinutes}} <span *ngIf="row.erlang != null">
                        ({{row.erlang}})
                </span></td>
              </ng-container>
        
              <!-- utilisation available Column -->
              <ng-container matColumnDef="tgUtilisation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Utilisation </th>
                <td mat-cell *matCellDef="let row"> <ratings-bar current_value="{{row.tgUtilisation}}" max_value="{{row.tgUtilisation}}" percentage="{{row.tgUtilisation}}" [row_object]="row" tooltip_desc="Busy hour: {{row.busyHour}}" [show_percent]="true" [show_max]="false" [bar_color]="cpu_usage(row.tgUtilisation, row.thresholdUtilisation)"></ratings-bar>
                  </td>
              </ng-container>
        
              <!-- Busiest hours available Column -->
              <ng-container matColumnDef="thresholdUtilisation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Utilisation Threshold</th>
                <td mat-cell *matCellDef="let row" class="text-center"> {{row.thresholdUtilisation}}% </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter value "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[30, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    
</form>