<div class="filter_box mx-3 py-2 px-3 mt-10">
    <h3 class="f_size_18 color-black mt-2 mb-3">System Statistics History</h3>
    <form #dates="ngForm" (ngSubmit)="onSubmit(dates.value)" class="form_box py-0 call_log_form">
        <div class="row mx-0 mb-1">
            <div class="col-sm-2 pl-0">Hostname</div>
            <div class="col-sm-4">{{host}}</div>
        </div>
        <div class="row mx-0 mb-1">
            <div class="col-sm-2 pl-0">Date</div>
            <div class="col-sm-4">
                <input type="date" id="padded" name='fromDate' class="form_text" placeholder="From Date"
                    [(ngModel)]="date" />

            </div>

        </div>
        <div class="row mx-0 mb-1 mt-4">
            <div class="col-sm-12 pl-0">
                <button type="submit" id="padded" class="btn btn-red">Run Report</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="loadTable">
    <div class="hr mx-3"></div>
    <form class="mx-3 ">
        <div class="row mx-0 border-bottom-grey2 pb-2">
            <div class="col-sm-4 pl-0">
                <strong>{{historyList.length}}</strong> Records
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 text-right pr-0">
                <div class="input-group w-200px green d-inline-flex mr-2">
                    <!-- <mat-form-field>
                                        <mat-label>Filter</mat-label>
                                        <input type="text"  class="green-search" placeholder="keyword" #input>
                                    </mat-form-field> -->
                </div>
                <button class="btn-icon " type="submit" (click)="onClickdwnldcsv()" data-toggle="popover"
                    data-toggle="tooltip" title="Download CSV"><i class="fas fa-file-pdf"></i></button>
            </div>
        </div>
        <div class="border-grey py-3 my-3">
            <table class="table system-stat-table mt-2">
                <thead>
                    <tr class="active">
                        <th class="heading pl-3">Time</th>
                        <th class="heading">Average CPU Load</th>
                        <th class="heading">Min CPU Load</th>
                        <th class="heading">Max CPU Load</th>
                        <th class="heading">Disk</th>
                        <th class="heading">Memory</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let object of historyList">
                        <td class="content pl-3">{{object.hour}} </td>
                        <td class="content" [ngClass]="{ 'yellowColored': object.high_average_load}">
                            {{object.average_loadStr}}</td>
                        <td class="content" [ngClass]="{ 'yellowColored': object.high_min_load}">{{object.min_loadStr}}</td>
                        <td class="content" [ngClass]="{ 'yellowColored': object.high_max_load}">{{object.max_loadStr}}</td>
                        <td class="content" [ngClass]="{ 'yellowColored': object.high_max_disc}">{{object.max_discStr}}</td>
                        <td class="content max-memory" [ngClass]="{ 'yellowColored': object.high_max_memory}">
                            {{object.max_memoryStr}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>