<breadcrumb #parent>
  <ol class="breadcrumb">
    <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
      <div class="crumb my-2 px-3">
        <a href="#">NGIN 5.2</a> / {{ route.displayName }}
      </div>
    </ng-template>
  </ol>
</breadcrumb>

<div class="filter_box mx-3 py-2 px-3">
  <h3 class="f_size_18 color-black mt-2 mb-3">Object Capacity</h3>
  <form #dates="ngForm" (ngSubmit)="onSubmit(dates.value)" class="form_box py-0 call_log_form">
    <div class="row mx-0 mb-1">
      <div class="col-sm-2 pl-0">Date</div>
      <div class="col-sm-4">
        <input type="date" id="padded" name='date' class="form_text" placeholder="From Date" [(ngModel)]="date_unit">
      </div>
    </div>
    <div class="row mx-0 mb-1 mt-4">
      <div class="col-sm-12 pl-0">
        <button type="submit" id="padded" class="btn btn-red">Run Report</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="displayTable">
  <div class="hr mx-3"></div>
  <form class="mx-3">
    <div class="row mx-0 pb-2  border-bottom-grey2 mb-2">
      <div class="col-sm-4 pl-0">
        <strong>{{objectModelList.length}}</strong> Records
      </div>
      <div class="col-sm-2">
      </div>
      
         <div class="col-sm-6">
          <div class="row mx-0 text-right">
            <div class="col-sm-6"></div>
      
            <div class="col-sm-6 pr-0 text-right">
                <button class="btn-icon mr-2 " type="submit" (click)="onClickdwnldcsv()" data-toggle="popover" data-toggle="tooltip"
                title="Download CSV"><i class="fas fa-file-pdf"></i></button>

              <button class="btn-icon mr-2" (click)="acc.expandAll()">
                <i class="fas fa-plus"></i>
              </button>
      
              <button class="btn-icon" (click)="acc.collapseAll()">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
         </div>   
          
         
    </div>
    <!-- // -->
    
    <div class="border-grey py-3 mt-2 mb-3">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel *ngFor="let object of objectModelList; let i=index">
          <ng-template ngbPanelHeader let-opened="opened">
            <button ngbPanelToggle class="btn my-0 p-0 w-100 text-left">
              <i class="fas fa-chevron-right color-grey mx-2"></i>
              <i class="fas fa-chevron-down color-green mx-2"></i><span class="bold">{{i+1}}.Service Type:
              </span>{{object.description}}
            </button>
          </ng-template>
          <ng-template ngbPanelContent>
            <table class="table" cellpadding="0" cellspacing="0">
              <thead>
                <th class="heading pl-3">Object Name</th>
                <th class="heading">Max RI</th>
                <th class="heading">RI Used</th>
                <th class="heading">Percentage</th>
              </thead>
              <tbody>
                <tr *ngFor="let model of object.capacityStatisticList">
                  <td class="content pl-3"><button class="btn-icon mt-2 mr-2"
                      (click)="showPopUpHistory(object.serviceTypeID, object.description, model.objectName)"><i
                        class="fas fa-chart-bar"></i></button>
                    {{model.objectName}}</td>
                  <td class="content">{{model.maxRi}}</td>
                  <td class="content">{{model.riUsed}}</td>
                  <td class="content" *ngIf="model.percentage<=80">

                    <ratings-bar percentage="{{model.percentage}}" [show_max]="false" [show_percent]='true'
                      bar_color="green"></ratings-bar>
                  <td class="content" *ngIf="model.percentage>80">

                    <ratings-bar percentage="{{model.percentage}}" [show_max]="false" [show_percent]='true'
                      bar_color="red"></ratings-bar>
                  </td>
                </tr>

              </tbody>
            </table>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>

    </div>